@use '../../styles/vars';
@use '../../styles/animations';

.alenite-btn {
    padding: 0.25em 0.5em;
    user-select: none;
    font-family: vars.$font-body;
    // font-family: vars.$font-heading;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    height: 2.5rem;
    min-width: 2.5rem;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    width: fit-content;
    &.anim-pulse {
        @include animations.anim-pulse;
    }

    &.btn-default {
        border: solid thin vars.$primary-color;
        color: vars.$primary-color;
        &:hover:not(.btn-disabled), &:focus:not(.btn-disabled) {
            background-color: vars.$primary-color-light;
            border: solid thin vars.$primary-color-light;
            color: vars.$primary-color-dark;
        }
        &.btn-disabled {
            filter: opacity(0.15);
        }
    }

    &.btn-primary {
        border: solid thin vars.$primary-color;
        background-color: vars.$primary-color;
        color: vars.$primary-color-dark;
        &:hover:not(.btn-disabled), &:focus:not(.btn-disabled) {
            border: solid thin vars.$primary-color-dark;
            background-color: vars.$primary-color-dark;
            color: white;
        }
        &.btn-disabled {
            filter: opacity(0.15);
        }
    }
    
    &.btn-text {
        color: vars.$primary-color;
        border: solid thin transparent;
        &:hover:not(.btn-disabled), &:focus:not(.btn-disabled) {
            border: solid thin vars.$primary-color;
        }
        &.btn-disabled {
            filter: opacity(0.15);
        }
    }

    &.btn-circle {
        border-radius: 100%;
        width: 2.5rem;
        height: 2.5rem;
    }

    &.btn-disabled {
        cursor: not-allowed;
    }
}