.searchbar  {
    // TODO: move to jsx reusable classes
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    min-width: 12rem;

    .input-wrapper {
        margin-right: 0 !important;
    }

    .btn {
        margin-left: auto;
        padding: 0.5rem;
    }
}
